<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Installfest by ReInteractive" %></title>

    <%= stylesheet_link_tag "guides" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'header' %>
    <article class="main">
      <aside>
        <h3>Guides</h3>
        <h4>Installfest Rails 3.2</h4>
        <p>This guide is currently based on Rails 3.2. We're working on an upgrade to Rails 4.0</p>
        <ul>
          <li><%= link_to 'Getting Started',                '/guides/installfest/getting_started' %></li>
          <li><%= link_to 'Finishing a Basic Blog',         '/guides/installfest/finishing_a_basic_blog' %></li>
          <li><%= link_to 'Testing the Blog',               '/guides/installfest/testing_the_blog' %></li>
          <li><%= link_to 'Admin and Markdown',             '/guides/installfest/admin_and_markdown' %></li>
          <li><%= link_to 'Understanding Migrations',       '/guides/installfest/understanding_migrations' %></li>
          <li><%= link_to 'Assets and Errors',              '/guides/installfest/assets_and_errors' %></li></br>
          <li><%= link_to 'Command and Phrase Cheat Sheet',              '/guides/installfest/cheat_sheet' %></li>
          <li><%= link_to 'Further Online Help',              '/guides/installfest/further_help' %></li>
        </ul>
      </aside>
      <article class="guide">
        <%= yield %>
        <%= partial 'comments' %>
      </article>
    </article>

    <%= partial 'footer' %>
    <%= partial 'tracking' %>
  </body>
</html>
