<aside class="event-card">
  <a href="<%= url %>" target="blank">
    <div class="event">
      <div class="card">
        <div class="front">
         <div class="date">
            <span class="day">
              <%= day %>
            </span>
            <span class="month">
              <%= month %>
            </span>
          </div>
          <div class="title">
            <%= title %>
          </div>
          <div class="location">
            <%= location %>
          </div>
          <span class="pipe">/</span>
          <div class="availability">
            <strong>
              Book your spot now!
            </strong>
          </div>
        </div>
        <div class="back">
          <i class="icon-chevron-right more"></i>
          <p>RSVP on Meetup.com</p>
        </div>
      </div>
    </div>
  </a>
</aside>
